@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Lato-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Muli.ttf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Metropolis-Regular.otf') format('opentype');
}
